<div class="container-fluid mt-5 about-style about-style" id="servicesid" >
   <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main.heading">our services</h1>
      <p class="text-center sub.heading">GROW YOUR STRENGH</p>
      <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>ACTION PLAN</h4>
                        <p>Without a schedule, it’s frighteningly easy to get to the end of the day and realize you have 
achieved nothing of importance. At the very least, you should make a list of the tasks you want to 
accomplish during the day and decide where your priorities lie.
Make a list of the tasks you want to complete by the end of the day. Try tobe realistic about your 
efficiency instead of creating a lengthy list of tasks that will be impossible to complete.
Rate the importance of each task:<br> 1. (Important and urgent),<br> 2. (Important, but not urgent),<br> 3. (not 
important, but urgent), or<br> 4. (not important , not urgent)</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>Positive Lifestyle</h4>
                        <p>A positive work environment makes us feel good about coming change conducted to 
work, and this provides the motivation to sustain us throughout the day.
Make a list of at least 1 or 2 works to help others.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>HEALTH ROUTINE CHECK LIST</h4>
                        <p>The trick here is knowing which is success for life and health habits to include in 
your morning routine, its a one minute of task to check out a care sheet and analyse HEALTHY LIFE STYLE</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>Health Guide</h4>
                        <p>The Eat well Guide shows Low to have a healthy, balanced diet through the 
diet calendar as per your age.<br>
The number of calories in a food is a measurement of the amount of energy stored in that 
food. Your body uses calories from food for walking, thinking, breathing, and other 
important functions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>IDENTIFY THE SERVICES</h4>
                        <p>IDENTIFYTHE SERVICES
Make a list of the services giving overview of the interdependent processes of working in the society 
this makes a large difference in our thoughts and remain self motivated to do number of activities 
enthusiastically.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>SPORTS SHEET</h4>
                        <p>Time for note works is 2 minutes, need to play at least for 40 minutes Sports teach teamwork and 
help achieve goals. Sports boost self–esteem. Though less obvious, sports offer many health 
benefits.<br>
Playing a sports cuts down pressure and stress.
Sports calendar is to register the date of day and sport.</p>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>STORY READING</h4>
                        <p>Read From the stories of elite personalities, to know how they faced failures to get on to 
the path of success.</p>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
                        <img src="http://i.imgur.com/6NKPrho.png" alt="">
                        </div>
                        <h4>SOCIAL CAUSE</h4>
                        <p>Nature and Environment: <br>
Ecological and environmental value. 
Trees contribute to their environment by providing oxygen, improving air quality, climate 
amelioration, conserving water, preserving soil, and supporting wildlife. During the process of 
photosynthesis, trees take in carbon dioxide and produce the oxygen we breathe.
Planting 10 saplings is a great contribution to our Mother earth.
</p>
                    </div>
                </div>
            </div>
            </div>

      </div>
    </div>
  </div>
</div>
    